/** Actions Panel */
.gdbe-Actions-Panel{
	padding-right: 10px;
}
.gdbe-Actions-Panel .gwt-MenuBar TABLE{
	border-collapse: collapse;
}
.gdbe-Actions-Panel .gwt-MenuBar-horizontal{
	border: 0px;
	background-color: #FFFFFF;
	background-image: none;
}
.gdbe-Actions-Panel .gwt-MenuBar-horizontal .gwt-MenuItemSeparator{
	width: 3px;	
}
.gdbe-Actions-Panel .gwt-MenuBar-horizontal .gwt-MenuItem{
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	border: 0px;
	background-image: url(images/background.png);
	background-position: 0px -94px;
	border: solid 1px #A1BADF;
	padding: 2px;
	padding-left: 16px;
	padding-right: 16px;
	white-space: nowrap;
	cursor: pointer;
}
.gdbe-Actions-Panel .gwt-MenuBar-horizontal .gdbe-HighlightedMenuItem{
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	border: 0px;
	background-image: url(images/background.png);
	background-position: 0px 0px;
	border: solid 1px #4477BB;
	padding: 2px;
	padding-left: 16px;
	padding-right: 16px;
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}
.gdbe-Actions-Panel .gwt-MenuBar-horizontal .gwt-MenuItem-selected{
	background-color: #FFFFFF;
}
.gdbe-Actions-Panel .gwt-MenuBar-horizontal .gdbe-HighlightedMenuItem-selected{
	background-position: 0px -48px;
}
/** Tools Panel */
.gdbe-Tools-Panel{
	background-image: url(images/background.png);
	background-position: 0px -84px;
}
.gdbe-Toolbar .gwt-PushButton{
	background-image: none;
}
.gdbe-Toolbar .gwt-PushButton-up{
	border: 0px;
	padding: 5px;
}
.gdbe-Toolbar .gwt-PushButton-up-hovering{
	border: solid 1px #A1BADF;
	padding: 4px;
}
.gdbe-Toolbar .gwt-PushButton-down-hovering{
	border: solid 1px #A1BADF;
	background-color: #DDE1EB;
	padding: 4px;
}
/** Main Menu Panel */
.gdbe-Menu-Panel{
	border-top: solid 4px #63A6E7;
}
.gdbe-Menu-Panel .gwt-MenuBar{
}
.gdbe-Menu-Panel .gwt-MenuBar TABLE{
	border-collapse: collapse;
}
.gdbe-Menu-Panel .gwt-MenuBar-horizontal{
	border: 0px;
	background-color: #D6E3F7;
	background-image: none;
}
.gdbe-Menu-Panel .gwt-MenuBar-horizontal .gwt-MenuItem{
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	padding: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-left: solid 5px #D6E3F7;
	white-space: nowrap
}
.gdbe-Menu-Panel .gwt-MenuBar-horizontal .gwt-MenuItem-selected{
	background-color: #63A6E7;
	color: #FFFFFF;
}
/*******************************************************************/
/***** Popup & Vertical Menu Item Styles (common to all menus) *****/
/*******************************************************************/
.gwt-MenuBar-vertical{
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: solid 1px #CECFCE;
	border-left: solid 1px #CECFCE;
	border-right: solid 1px #636563;
	border-bottom: solid 1px #636563;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator{
	padding-bottom: 4px;
}
.gwt-MenuBar-vertical .gwt-MenuItemSeparator .menuSeparatorInner{
  height: 1px;
  padding: 0px;
  border: 0px;
  background: #CECFCE;
  overflow: hidden;
}
.gwt-MenuBar-vertical .gwt-MenuItem{
	font-family: Arial;
	font-weight: normal;
	font-size: 12px;
	color: #333333;
	padding: 2px;
	padding-left: 6px;
	width: 210px;
	white-space: nowrap
}
.gwt-MenuBar-vertical .gwt-MenuItem *{
	margin-left: 2px;
	margin-right: 4px;
}
.gwt-MenuBar-vertical .gwt-MenuItem-selected{
	background-color: #D6EBFF;
}
.gwt-MenuBar-vertical .subMenuIcon-selected {
  background: #CCCCCC;
}
.gwt-MenuBarPopup .menuPopupTopCenter {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
	display: none;
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupTopRight {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
	display: none;
}
.gwt-MenuBarPopup .menuPopupBottomRight {
	display: none;
}
/*******************************************************************/
/***** Popup & Vertical Menu Item Styles (common to all menus) *****/
/*******************************************************************/
.gwt-DialogBox {
	border: solid 1px #3A5774;
}
.gwt-DialogBox .Caption {
	border: 0px;
	overflow: hidden;
	height: 8px;
	background-color: #C1D9FF;
}
.gwt-DialogBox .Header {
	background-color: #E0EDFE;
}
.gwt-DialogBox .Header .CloseButton {
	padding: 8px;
	border: 0px;
	cursor: pointer;
}
.gwt-DialogBox .Header .Title {
	font-family: Arial;
	font-weight: bold;
	padding: 8px;
}
.gwt-DialogBox .Content {
	padding: 8px;
	font-family: Arial;
	font-size: 12px;
}
.gwt-DialogBox .dialogMiddleCenter {
	padding: 0px;
}
.gwt-DialogBox .dialogBottomCenter,
.gwt-DialogBox .dialogMiddleLeft,
.gwt-DialogBox .dialogMiddleRight,
.gwt-DialogBox .dialogTopLeftInner,
.gwt-DialogBox .dialogTopRightInner,
.gwt-DialogBox .dialogBottomLeftInner,
.gwt-DialogBox .dialogBottomRightInner,
.gwt-DialogBox .dialogTopLeft,
.gwt-DialogBox .dialogTopRight,
.gwt-DialogBox .dialogBottomLeft,
.gwt-DialogBox .dialogBottomRight
{
	width: 8px;
	height: 8px;
	background-color: #C1D9FF;
}
/*******************************************************************/
/************************** TabBar Styles **************************/
/*******************************************************************/
.gwt-TabBar {
	padding-top: 6px;
	background-color: #F7FBFF;
}
.gwt-TabBar .gwt-TabBarFirst {
	width: 10px;
}
.gwt-TabBar .gwt-TabBarFirst-wrapper {
	border-bottom: solid 1px #C6DBFF;
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarRest-wrapper {
	border-bottom: solid 1px #C6DBFF;
}
.gwt-TabBar .gwt-TabBarItem {
	font-family: Arial;
	font-weight: bold;
	font-size: 11px;
	background-color: #F7FBFF;
	border: solid 1px #F7FBFF;
	border-bottom: 0px;
	padding: 4px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
}
.gwt-TabBar .gwt-TabBarItem-wrapper {
	border-bottom: solid 1px #C6DBFF;
}
.gwt-TabBar .gwt-TabBarItem-selected {
	background-color: #FFFFFF;
	padding: 4px;
	padding-left: 20px;
	padding-right: 20px;
	border: solid 1px #C6DBFF;
	border-bottom: 0px;
}
.gwt-TabBar .gwt-TabBarItem-wrapper-selected {
	padding-left: 0px;
	border-bottom: solid 1px #FFFFFF;
}
/*******************************************************************/
/* About Dialog */
.gdbe-About{
	padding: 10px;
}
.gdbe-About *{
	font-family: Arial;
	font-size: 11px;
}
/* Text Editor Panel */
.gdbe-Text-Editor {
}
.gdbe-Text-Editor textarea {
	width: 100%;
}
/* Explorer Panel */
.gdbe-Explorer{
	font-family: Arial;
	font-size: 12px;
	padding-left:40px;
	padding-top: 20px;
}
.gdbe-Header-Status{
	width: 100%;
	position: absolute;
	top: 0px;
	z-index: 2;
}
.gdbe-Header-Status div{
	display: inline;
	padding: 4px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	background-color: #FFF1A8;
}
.gdbe-Explorer-Documents{
	font-family: Arial;
	font-size: 12px;
	padding-left: 20px;
	overflow: scroll;
}
.gdbe-Explorer-Links *{
	font-family: Arial;
	font-size: 12px;
}
.gdbe-Explorer-Document a{
	font-family: Arial;
	font-size: 12px;
}
.gdbe-Explorer-Document-Info{
	font-family: Arial;
	font-size: 11px;
	color: #999999;
}
.gdbe-Explorer-Document-Folder{
	font-family: Arial;
	font-size: 11px;
	background-color: #F1F5EC;
	color: #006633;	
	padding: 2px;
	padding-left: 6px;
	padding-right: 6px;
}
.gwt-ToggleButton{
	padding: 0px;
	border: 0px;
}
/** Logo Panel */
.gdbe-Logo{
	margin-left: 10px;
}
/** Links Panel */
.gdbe-Header-Links{
	padding-top: 8px;
}
.gdbe-Header-Links div{
	padding-right: 6px;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.gdbe-Header-Links a{
	padding: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border-left: solid 1px #000000;
	font-family: Arial;
	font-size: 12px;
	white-space: nowrap;
}
/** Title Panel */
a.gdbe-Header-Title{
	margin-right: 10px;
	padding: 4px;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
	cursor: pointer;
	text-decoration: none;
}
a.gdbe-Header-Title:hover{
	margin-right: 10px;
	padding: 4px;
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
	cursor: pointer;
	background-color: #FFFFD6;
	text-decoration: none;
}
.gdbe-Header-Info {
	font-family: Arial;
	font-size: 11px;
	color: #666666;
}
.gdbe-Header-Info a{
	color: #112ABB;
	text-decoration: none;	
}
.gdbe-Header-Info a:hover{
	color: #112ABB;
	text-decoration: underline;
}