<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <servlet>
    <servlet-name>LatexLabEditorServlet</servlet-name>
    <servlet-class>org.latexlab.docs.server.LatexLabEditorServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>LatexLabAdminServlet</servlet-name>
    <servlet-class>org.latexlab.docs.server.LatexLabAdminServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DocumentsService</servlet-name>
    <servlet-class>org.latexlab.docs.server.gdocs.DocumentServiceImpl</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LatexLabService</servlet-name>
    <servlet-class>org.latexlab.docs.server.LatexLabServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LatexLabEditorServlet</servlet-name>
    <url-pattern>/docs</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DocumentsService</servlet-name>
    <url-pattern>/editor_advanced/doc-rpc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DocumentsService</servlet-name>
    <url-pattern>/editor_simple/doc-rpc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>DocumentsService</servlet-name>
    <url-pattern>/doc-rpc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LatexLabService</servlet-name>
    <url-pattern>/editor_advanced/lab-rpc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LatexLabService</servlet-name>
    <url-pattern>/editor_simple/lab-rpc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LatexLabService</servlet-name>
    <url-pattern>/lab-rpc</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>LatexLabAdminServlet</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>splash.html</welcome-file>
  </welcome-file-list>
  
  <!--
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  -->
</web-app>
